[Global]
auth-url = {{ lookup('env', 'OS_AUTH_URL') }}
username = {{ lookup('env', 'OS_USERNAME') }}
password = {{ lookup('env', 'OS_PASSWORD') }}
tenant-name = {{ lookup('env', 'OS_PROJECT_NAME') }}
{% if lookup('env', 'OS_REGION_NAME') != '' %}
region = {{ lookup('env', 'OS_REGION_NAME') }}
{% endif %}
{% if lookup('env', 'OS_DOMAIN_NAME') != '' %}
domain-name = {{ lookup('env', 'OS_DOMAIN_NAME') }}
{% endif %}

[BlockStorage]
trust-device-path = false
