# Docs @ https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: systemd
    cloud-provider: external
    network-plugin: kubenet
    cluster-dns: "{{ cluster_dns_ip }}"
    # non-masquerade-cidr: 0.0.0.0/0 # from https://medium.com/elotl-blog/kubernetes-networking-on-aws-part-i-99012e938a40
localAPIEndpoint:
  advertiseAddress: "{{ hostvars[groups.master[0]].ansible_ssh_host }}"

# This is ignored by kubeadm (because we are joining using a token, this excludes the use of JoinConfiguration)
# see kubeadm-nodes/main.yaml for a hack to heal this issue
#---
#apiVersion: kubeadm.k8s.io/v1beta2
#kind: JoinConfiguration
#nodeRegistration:
#  kubeletExtraArgs:
#    cloud-provider: external
#    network-plugin: kubenet

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: "{{ kubernetes_version }}"
apiServer:
  extraArgs:
    advertise-address: "{{ hostvars[groups.master[0]].ansible_ssh_host }}"
    bind-address: 0.0.0.0
    authorization-mode: "Node,Webhook,RBAC"
    authentication-token-webhook-config-file: "/etc/kubernetes/pki/webhook.kubeconfig.yaml"
    authorization-webhook-config-file: "/etc/kubernetes/pki/webhook.kubeconfig.yaml"
    cloud-provider: "external"
  extraVolumes:
    - name: "cloud-config"
      hostPath: "/etc/kubernetes/cloud-config"
      mountPath: "/etc/kubernetes/cloud-config"
      readOnly: true
      pathType: FileOrCreate

controllerManager:
  extraArgs:
    cloud-provider: external
    external-cloud-volume-plugin: openstack
    bind-address: 0.0.0.0
    cloud-config: /etc/kubernetes/cloud-config
    configure-cloud-routes: "true"
    allocate-node-cidrs: "true"
  extraVolumes:
    - name: "cloud-config"
      hostPath: "/etc/kubernetes/cloud-config"
      mountPath: "/etc/kubernetes/cloud-config"
      readOnly: true
      pathType: FileOrCreate

networking:
  # ServiceSubnet is the subnet used by k8s services. Defaults to "10.96.0.0/12".
  serviceSubnet: "{{ subnet_cidr }}"
  # PodSubnet is the subnet used by pods.
  podSubnet: "{{ pod_subnet_cidr }}"

etcd:
  local:
    extraArgs:
      listen-peer-urls: "https://0.0.0.0:2380"
      listen-client-urls: "https://0.0.0.0:2379"
